<section class="tab {{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
<div class="czt-wrapper tab-move-list">

  {{#each moveSpecial as |move|}}
    <!-- start move -->
  <div class="czt-row move-item" data-moveid="{{move._id}}" data-type="{{move.system.types}}">
    <div class="czt-column">
      <div class="czt-row">
        <div class="czt-column move-name">{{move.name}}</div>
      </div>
      <div class="czt-row">
        <div class="czt-column move-desc">{{{move.system.description}}}</div>
      </div>
    </div>
  </div>
  <!-- end move -->
  {{/each}}
  <div class="czt-row-nolx">
    <b>{{localize "CZT.Hotel.Bruno.label"}}</b>
    <div>{{localize "CZT.Hotel.Bruno.top"}}</div>
    <div>
      <ul>
        <li>{{localize "CZT.Hotel.Bruno.line1"}}</li>
        <li>{{localize "CZT.Hotel.Bruno.line2"}}</li>
        <li>{{localize "CZT.Hotel.Bruno.line3"}}</li>
        <li>{{localize "CZT.Hotel.Bruno.line4"}}</li>
        <li>{{localize "CZT.Hotel.Bruno.line5"}}</li>
        <li>{{localize "CZT.Hotel.Bruno.line6"}}</li>
        <li>{{localize "CZT.Hotel.Bruno.line7"}}</li>
      </ul>
    </div>
    <div><b>{{localize "CZT.Card.Deck"}}</b></div>
    <p>{{localize "CZT.Card.Info"}}</p>
    <div>&#x2193; {{localize "CZT.Card.PutCards"}} &#x2193;</div>
    <div><img src="{{get_assets "card_deck.png"}}" data-tooltip="{{localize "CZT.Card.PutCards"}}" class="hotel-PutCards"></div>
  </div>
</div>
</section>